# ====================================================================
# КОНФИГУРАЦИЯ MAXPATROL VM (SIEM)
# ====================================================================
MPVM_USER=your_maxpatrol_login
MPVM_PASSWORD=your_maxpatrol_password
MPVM_CLIENT_SECRET=your_maxpatrol_client_secret

# ====================================================================
# КОНФИГУРАЦИЯ TRUECONF SERVER
# ====================================================================
# Базовый HTTP URL для первоначального получения JWT-токена
TRUECONF_SERVER_URL=https://**

# Базовый WSS URL для отправки сообщений через WebSocket
TRUECONF_WS_URL=wss://***

# Учетные данные и целевой чат
TRUECONF_USER=***
TRUECONF_PASSWORD=your_trueconf_password
TRUECONF_CHAT_ID=c_xxxxxxxxxxxxxx@your-trueconf-server.ru

# ====================================================================
# ОБЩИЕ СИСТЕМНЫЕ НАСТРОЙКИ
# ====================================================================
PAUSE_TIME=60
LOG_LEVEL=INFO
